@{
    ViewBag.Title = "Insert_Notice";
}
<!DOCTYPE html>
<html>
<head>
    <title></title>

    <link href="~/Content/bootstrap-3.3.7-dist/bootstrap-3.3.7-dist/css/bootstrap.min.css" rel="stylesheet" />
</head>

<body>
    <div class="container">
        <button class="btn-success"> Load Image</button>
    </div>
</body>
</html>